@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*The navbar*/
#topbar {
    background-color:#607d8b;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 5;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Josefin Sans";
}

nav a:hover {
    color: #000;
    text-decoration: none;
}


#navlist .divided:not(:first-child):before {
    content: " | ";
    color: white;
    padding: 0 20px 0 20px;

}

ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:150px;
    background:#607d8b;
    border-radius: 25px;

    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

.dropped {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Josefin Sans";
    text-align: center;

}

.divided ul li {
    padding: 5px 3px 5px 15px;
    position: relative;
}

ul li:hover > ul {
    visibility:visible;
    opacity:1;
}

/*The main part*/

.title {
    position: relative;
    font-family: "Josefin Sans";
    font-size: 30px;
    margin:0;
    padding: 50px 0 0 10px;
    text-align: center;

}
 h2 {
     position: relative;
     font-family: "Josefin Sans";
     font-size: 30px;
     margin:0;
     padding: 50px 0 0 10px;
     text-align: center;
 }

 .apps {
     position: relative;
     margin:0;
     padding:20px 0 0 0;
     list-style: none;
 }

 .apps li {
     text-decoration: none;
     text-align: center;
 }

 .diagrams {
     height: 200px;
     width:200px;
     border: solid 3px red;
 }