@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.borderTop,
.borderBottom,
.borderLeft,
.borderRight {
    background-color: black;
    display: block;
    position: fixed;
    z-index: 1000;
}
.borderTop {
    height: 11px;
    left: 0;
    right: 0;
    top: 0;
}

.borderBottom {
    bottom: 0;
    height: 11px;
    left: 0;
    right: 0;
}

.borderRight {
    bottom: 0;
    right: 0;
    top: 0;
    width: 11px;
}

.borderLeft {
    bottom: 0;
    left: 0;
    top: 0;
    width: 11px;
}


img {
    width: 50%;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#top {
    background-color: black;
}

h2 {
    padding-top: 50px;
}

h2 a {
    position: relative;
    color: antiquewhite;
    text-decoration: none !important;
    font-size: 20px;
    font-family:"Josefin Sans";
    padding-left: 40%;
    padding-right: 40%;
}

h2 a:hover {
    color: antiquewhite;
}
h2 a:before {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    bottom: 0;
    left: 40%;
    right: 20%;
    background-color: antiquewhite;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

h2 a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#show1, #hide1 {
    height: 70px;
    background-color: #4169E1;
}

#show2, #hide2 {
    height: 100px;
    background-color: #F4A460;
}
#show3, #hide3 {
    height: 100px;
    background-color: #66CDAA;
    position:relative;
}


#show1, #show2, #show3 p {
    padding: 2% 20% 0 20%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Josefin Sans";
    font-color: #1a1a1a;
}

#hide1, #hide2, #hide3 p {
    padding: 2% 20% 0 20%;
    font-size: 20px;
    font-family: "Josefin Sans";
    font-color: #1a1a1a;
}


#nav-menu {
    display:inline;
}


.menu-item {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none !important;
    font-family:"Josefin Sans" !important;
    font-weight:100;
    font-size:18px;
    color: antiquewhite !important;
}

#hide1,#hide2,#hide3 {
    display: none;
}

.lit {

    padding-top: 50px;
    text-align: center;
    font-family:"Josefin Sans";
    font-weight:100;
    font-size:25px;
    color: antiquewhite;

}
#nagi {
    padding-left: 30%;
}

#description {
    height: 380px !important;
    background-color: #FFE4B5;
    padding-bottom: 8px;
    overflow: auto;
}



#what {
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-family:"Josefin Sans";
    font-weight:100;
    font-size:40px;
}

#footer {
    padding-bottom: 50px;
    background-color: black;
}

.footertext {
    padding-top: 30px;
    font-family: Orbitron;
    color: white;
}