@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@keyframes glow {
    to {
        text-shadow: 0 0 10px black;
    }
}


.borderTop,
.borderBottom,
.borderLeft,
.borderRight {
    background-color: white;
    display: block;
    position: fixed;
    z-index: 1000;
}
.borderTop {
    height: 8px;
    left: 0;
    right: 0;
    top: 0;
}

.borderBottom {
    bottom: 0;
    height: 8px;
    left: 0;
    right: 0;
}

.borderRight {
    bottom: 0;
    right: 0;
    top: 0;
    width: 8px;
}

.borderLeft {
    bottom: 0;
    left: 0;
    top: 0;
    width: 8px;
}


img {
    height: 200px;
    width:200px
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#top {
    background: white;
    height:225px;
}

/*

h2:before {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    bottom: 10px;
    left: 40%;
    right: 20%;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

h2:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}*/

#show1, #hide1 {
    height: auto;
    background-color: #85C8DD;
    position: relative;
    padding: 10px;
    overflow: hidden;
}

#show2, #hide2 {
    height: auto;
    background-color: #D3E0E2;
    position: relative;
    overflow: hidden;
}
#show3, #hide3 {
    height: auto;
    background-color: #E9F6F5;
    position:relative;
    overflow: hidden;
}


#show1, #show2, #show3 p {
    padding-top: 30px;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 30px;
    font-weight: 800;
    font-family: "Josefin Sans";
    font-color: black;
}

#hide1, #hide2, #hide3 p {
    padding-left: 20%;
    padding-top: 10px;
    padding-right: 20%;
    font-size: 20px;
    overflow: hidden;
    font-family: "Josefin Sans";
    font-color: black;
}

#hide1,#hide2,#hide3 {
    display: none;
}

.navy {
    padding-bottom: 30px;
}

#nagi {
    padding-left: 30%;
}

#nav-menu {
    display:inline;

}
#nav-menu li:not(:first-child):before {
    content: " | ";
    color: black;
    font-weight: 800;
}

.menu-item {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none !important;
    font-family:"Josefin Sans" !important;
    font-weight:800;
    font-size:22px;
    color: black !important;
}



.lit {
    text-align: center;
    font-family:"Josefin Sans";
    font-weight:bolder;
    font-size:15px;
    color: black;
}

.lit2 {
    text-align: center;
    font-family:"Josefin Sans";
    font-weight:bolder;
    font-size:13px;
    color: black;
    margin:0;
}


#what {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20% !important;
    padding-right: 20%;
    text-align: center;
    font-family:"Josefin Sans";
    color: black;
    font-weight:100;
    font-size:30px;
    background-color: #F1684E;
}

#footer {
    padding-bottom: 50px;
    background-color: white;
}

.footertext {
    padding-top: 30px;
    font-size: 30px;
    font-family: "Josefin Sans";
    color: black;
    font-weight: 500;
}

#glowy {
    font-size: 60px;
    text-shadow: 0 0 0.3em black;
    animation: glow 1.5s infinite alternate;
    float: none;
}

/* ids for other pages*/
#team {
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 30px;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F1684E;
}

#hp {
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 30px;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F1684E;
}
#hp a {
    text-align: center;
    font-family: "Josefin Sans";
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F1684E;
}