@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@keyframes glow {
    to {
        text-shadow: 0 0 10px black;
    }
}


#sideMenu,
#top_title {
    display: none;
}

#content {
    width: 100vw;
    padding: 0px;
    border: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: relative;
}

#globalWrapper {
    font-size: inherit;
    padding-bottom: 0;
}

#top_menu_under {
    height: 0px;
}

ul {
    list-style-image: none; //removes the iGEM wiki bullets
}

.MathJax nobr>span.math>span {
    border-left-width: 0 !important;
}


@keyframes glow {
    to {
        text-shadow: 0 0 10px black;
    }
}

.borderTop,
.borderBottom,
.borderLeft,
.borderRight {
    background-color: white;
    display: block;
    position: fixed;
    z-index: 1000;
}
.borderTop {
    height: 8px;
    left: 0;
    right: 0;
    top: 0;
}

.borderBottom {
    bottom: 0;
    height: 8px;
    left: 0;
    right: 0;
}

.borderRight {
    bottom: 0;
    right: 0;
    top: 0;
    width: 8px;
}

.borderLeft {
    bottom: 0;
    left: 0;
    top: 0;
    width: 8px;
}

#top {
    background: white;
    height:150px;
}

/*
h2:before {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    bottom: 10px;
    left: 40%;
    right: 20%;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
h2:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}*/

#show1  {
    height: auto;
    background-color: #85C8DD;
    padding: 10px;
    overflow: hidden;
}

#hide1 {
    height: auto;
    background-color: #85C8DD;
    padding: 10px;
    overflow: hidden;
}

#show2 {
    height: auto;
    background-color: #D3E0E2;
    overflow: hidden;
}


#hide2 {
    height: auto;
    background-color: #D3E0E2;
    overflow: hidden;
}

#show3 {
    height: auto;
    background-color: #E9F6F5;
    overflow: hidden;
}

#hide3 {
    height: auto;
    background-color: #E9F6F5;
    overflow: hidden;
}


#show1 p {
    text-align: center;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px !important;
    font-weight: 800;
    font-family: "Josefin Sans" !important;
    font-color: black;
}
.black {
    color: black;
}
#show2 p {
    text-align: center;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px !important;
    font-weight: 800;
    font-family: "Josefin Sans" !important;
    font-color: black;
}
#show3 p {
    text-align: center;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px !important;
    font-weight: 800;
    font-family: "Josefin Sans" !important;
    font-color: black;
}

#hide1 p {
    text-align: center;
    padding-left: 10%;
    padding-top: 10px;
    padding-right: 10%;
    font-size: 20px !important;
    overflow: hidden;
    font-family: "Josefin Sans" !important;
    font-color: black;
}

#hide2 p {
    text-align: center;
    padding-left: 10%;
    padding-top: 10px;
    padding-right: 10%;
    font-size: 20px !important;
    overflow: hidden;
    font-family: "Josefin Sans" !important;
    font-color: black;
}
#hide3 p {
    text-align: center;
    padding-left: 10%;
    padding-top: 10px;
    padding-right: 10%;
    font-size: 20px !important;
    overflow: hidden;
    font-family: "Josefin Sans" !important;
    font-color: black;
}

#hide1, #hide2, #hide3 {
    display: none;
}

.navy {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    text-align: center;
    top: 0;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 4 !important;
}

#nav-menu {
    display:inline;

}
#nav-menu li:not(:first-child):before {
    content: " | ";
    color: black;
    font-weight: 800;
}

.menu-item {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none !important;
    font-family:"Josefin Sans" !important;
    font-weight:800;
    font-size:22px;
    color: black !important;
}

.btn-group {
    text-decoration: none !important;
}

.lit {
    text-align: center;
    font-family:"Josefin Sans" !important;
    font-weight:bolder;
    font-size:15px;
    color: black;
}

.lit2 {
    text-align: center;
    font-family:"Josefin Sans" !important;
    font-weight:bolder;
    font-size:13px;
    color: black;
    margin:0;
}


#what {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10% !important;
    padding-right: 10% !important;
    text-align: center;
    font-family:"Josefin Sans" !important;
    color: black;
    font-size:30px;
    background-color: #F1684E;
}

#footer {
    padding-bottom: 50px;
    background-color: white;
}

.footertext {
    padding-top: 30px;
    font-size: 30px;
    font-family: "Josefin Sans";
    color: black;
    font-weight: 500;
}

#glowy {
    font-size: 60px;
    text-shadow: 0 0 0.3em black;
    animation: glow 1.5s infinite alternate;
    float: none;
}

/* ids for other pages*/
#team {
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 30px;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F1684E;
}

#hp {
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 30px;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F1684E;
}
#hp a {
    text-align: center;
    font-family: "Josefin Sans";
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F1684E;
}