
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
    position:relative;
    height:100%;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}


/* navbar and top part*/
#top {
    height: auto;
    width: 100%;
    z-index:5;
    padding: 0;
    background-color: #2f2832;
}

#banner {
    z-index:5;
    height: 100px;
    width: 400px;
    margin:0 !important;
    padding:0 !important;
}

/* The list*/
.navy {
    display: block;
    list-style-type: none;
    margin: 3% 0 1% 18%;
    padding: 0 0 2% 0;
    z-index: 6;
}

.navy-link {
    display:inline-flex;
    font-family: "Josefin Sans";
    font-size: 14px;
    float: left;
    position: relative;
}

.navy-link a {
    padding: 0 15px 0 0;
    text-decoration: none !important;
    color:white;
}

/* the dropdown submenus*/
.navy-hidden {
    list-style-type: none;
    display:none;
    margin:0;
    padding:5px 0 0 0;
    position: absolute;
    visibility: hidden;
    border-radius: 5px;
    opacity:0;
    z-index: 10;
    background: #e76e7a;

    -webkit-transition:opacity 0.3s linear, visibility 0.3s linear;
    -moz-transition:opacity 0.3s linear, visibility 0.3s linear;
    -o-transition:opacity 0.3s linear, visibility 0.3s linear;
    transition:opacity 0.3s linear, visibility 0.3s linear;
}

.navy-hidden li a {
    color: white !important;
    text-decoration: none;
    font-size: 14px;
    font-family: "Josefin Sans";
    text-align: center;
    padding:0 10px 0 10px;
}

.navy-hidden li {
    width: 150px;
}

#drop:hover > .navy-hidden {
    margin-top: 20px;
    display:block;
    visibility:visible;
    opacity:1;
}

#drop1:hover > .navy-hidden {
    margin-top: 20px;
    display:block;
    visibility:visible;
    opacity:1;
}

#drop1:hover > ul li {
    width:120px;
}


#drop2:hover > .navy-hidden {
    margin-top: 20px;
    display:block;
    visibility:visible;
    opacity:1;
}

#drop2:hover > ul li {
    width:65px;
}

#drop3:hover > .navy-hidden {
    margin-top: 20px;
    display:block;
    visibility:visible;
    opacity:1;
}

#drop3:hover > ul li {
    width:160px;
}

#drop4:hover > .navy-hidden {
    margin-top: 20px;
    display:block;
    visibility:visible;
    opacity:1;
}

#drop4:hover > ul li {
    width:80px;
}

#drop5:hover > .navy-hidden {
    margin-top: 20px;
    display:block;
    visibility:visible;
    opacity:1;
}

#drop5:hover > ul li {
    width:120px;
}

#drop6:hover > .navy-hidden {
    margin-top: 20px;
    display:block;
    visibility:visible;
    opacity:1;
}

#drop6:hover > ul li {
    width:120px;
}

/* the scrolling side bar*/
.side-link {
    font-size: 16px;
}

.side-link a{
    color:black !important;
}

.active-link {
    text-decoration: underline !important;
}

#side-index {
    position:relative;
    padding:100px 0 0 50px;
    text-decoration: none;
}

/* For the content part*/
.text-section {
    position:relative;
    margin:1% 0 0 0;
    border-top: solid 1px rgba(39, 32, 34, 0.16);
    padding:0;
    z-index:3;
    overflow: auto;
}


.picture-section-left {
    position:relative;
    margin:1% 0 0 6%;
    border-top: solid 1px rgba(39, 32, 34, 0.16);
    padding:5% 0 5% 0;
    z-index:3;
}

.picture-section-right {
    position:relative;
    margin:1.9% 7% 0 0;
    border-top: solid 1px rgba(39, 32, 34, 0.16);
    padding:5% 0 5% 0;
    z-index:3;
}

.text-content {
    position:relative;
    max-width:80%;
    font-size: 18px;
    font-family: "Crimson Text";
    padding: 1% 3% 1% 15%;
    margin:0 !important;
}

.text-content a {
    color: inherit;
    font-weight:bold;
}


.text-content-reading {
    position:relative;
    max-width:80%;
    font-size: 15px;
    font-family: "Crimson Text";
    padding: 0 3% 0 15%;
    margin:0 !important;
}

.text-content-duo {
    position:relative;
    max-width:95%;
    font-size: 18px;
    font-family: "Crimson Text";
    padding: 2% 3% 2% 15%;
    margin:0 !important;
}

.text-content-duo-primary {
    position:relative;
    max-width:95%;
    font-size: 18px;
    font-family: "Crimson Text";
    padding: 2% 3% 2% 15%;
    margin:0 !important;
    background-color: rgb(245, 247, 249);
/*    color: rgba(152, 171, 189, 0.75);*/
}

.text-content-duo-secondary {
    position:relative;
    max-width:95%;
    font-size: 18px;
    font-family: "Crimson Text";
    padding: 2% 3% 2% 15%;
    margin:0 !important;
}



.list-section {
    list-style-type: circle;
    position:relative;
    max-width:80%;
    padding: 2% 3% 2% 18%;
    margin:0 !important;
}

.list-item-content {
    font-family: "Crimson Text";
    font-size: 18px;
}

.image-content {
    height:300px;
    width:650px;
    padding:1% 1% 1% 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-content-graphs {
    height:300px;
    width:650px;
    padding:1% 1% 1% 15%;
}

.text-content-centered {
    text-align: center;
}

.stats {
    text-align: center;
    font-family: Orbitron;
    font-size: 28px;
    color: #177f91;
    padding: 0 3% 0 15%;
    margin:0 !important;
}

.stats-explanation {
    text-align: center;
    font-family: "Crimson Text";
    font-size: 20px;
    color: #2B343A;
    padding: 0 3% 0.5% 15%;
    margin:0 !important;
}

.title {
    font-family: "Noto Sans";
    font-size: 23px;
    font-weight: 600;
    padding: 5% 1% 1% 10%;
    margin:0;
    color: rgba(204, 0, 53, 0.69);
}

.title-homepage {
    font-family: "Noto Sans";
    font-size: 23px;
    font-weight: 600;
    padding: 5% 1% 1% 10%;
    margin:0;
    color: rgba(204, 0, 53, 0.69);
}


.subtitle {
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 500;
    padding: 0 1% 1% 15%;
    margin:0;
    color: rgb(163, 161, 168);
}

.subtitle a {
    color: inherit;
    font-weight:bold;
    font-style: italic;
}

.inside-titles {
    font-family: "Noto Sans";
    font-size: 26px;
    font-weight: 400;
    padding: 5% 1% 1% 10%;
    margin:0;
    color: rgba(47, 0, 13, 0.69);
}

.tabletitle {
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 500;
    padding: 0 1% 1% 15%;
    margin:0;
    color: white ;
}

.affix {
    top: 20px;
    left:40px;
}


/* Back to top button*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 8; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #23bfdc; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 16px;
}

#myBtn:hover {
    background-color: #177f91; /* Add a dark-grey background on hover */
}


/* drop down box */

#show1  {
    height: auto;
    background-color: rgba(204, 0, 53, 0.69) ;
    overflow: hidden;
    max-width:65%;
    padding: 2% 3% 2% 5%;
    position:relative;
    margin-left: 150px;
}

#hide1 {
    height: auto;
    background-color: white;
    padding: 2% 3% 2% 15%;
    overflow: hidden;
}

#show2  {
    height: auto;
    background-color: rgba(204, 0, 53, 0.69);
    overflow: hidden;
    max-width:65%;
    padding: 2% 3% 2% 5%;
    position:relative;
    margin-left: 150px;
}


#hide2 {
    height: auto;
    background-color: white;
    overflow: hidden;
    max-width:80%;
    padding: 2% 3% 2% 15%;


#show1 p {
    font-size: 30px !important;
    font-weight: 500;
    font-family: "Josefin Sans" !important;
    color: black;
    position:relative;
    margin:0 !important;


}

#show2 p {
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px !important;
    font-weight: 500;
    font-family: "Josefin Sans" !important;
    font-color: black;
    width:100%;
    text-align: center;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px ;
    margin-top: 10px;
    margin-bottom: 0;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

